---
name: btn
---
{{!
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
}}
<button{{bind-attr attrs=(koalas hash this)}}>{{yield}}</button>
