<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{pascal inflection}} <span class="caret"></span></a>
  <ul class="dropdown-menu" id="dropdown-{{inflection}}">
  {{#each items}}
    {{#is this.data.draft true}}{{else}}
    {{> category-dropdown-link ..}}
    {{/is}}
  {{/each}}
  </ul>
</li>
