<style>
  /* Temporarily override subhead styling for development */
  .subhead {
    background-color: #edf1f1;
  }
  .subhead h1 {
    color: #3c6868;
  }
  .subhead .text-muted {
    font-weight: thinner;
    color: #d0dcdd;
  }
  body .panel-docs blockquote {
    border-left-color: #3c6868;
  }
  body a,
  .alert .alert-link {
    color: #3c6868;
  }
  body a:hover,
  .alert .alert-link:hover {
    color: #35a7a7
  }
</style>


{{!-- MASTHEAD
=================================== --}}
<header class="masthead subhead">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        <h1> {{#if title}} <span class="text-muted">BOILERPLATES&nbsp;/</span>&nbsp; {{ title }} {{else}} BOILERPLATES {{/if}} </h1>
      </div>
    </div>
  </div>
</header>
