{{!#is area 'helpers'}}
<style>
/* Temporarily override subhead styling */
.subhead {
  background-color: #0081AC;
}
.subhead .text-muted {
  color: #84D5F0;
}
.panel-docs blockquote {
  border-left-color: #09C;
}
</style>
{{!-- MASTHEAD
=================================== --}}
<header class="masthead subhead">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        <h1><span class="text-muted">{{default area "Docs"}}&nbsp;/</span>&nbsp;{{default title area}}</h1>
      </div>
    </div>
  </div>
</header>
{{!/is}}