<style>
  /* Temporarily override subhead styling for development */
  .subhead {
    background-color: #33b5e5;
  }
  .subhead .text-muted {
    color: #b5e4f5;
  }
</style>
{{!-- MASTHEAD
=================================== --}}
<header class="masthead subhead">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        <h1><span class="text-muted">{{default area "Docs"}}&nbsp;/</span>&nbsp;{{default title area}}</h1>
      </div>
    </div>
  </div>
</header>
