{{!-- MASTHEAD
=================================== --}}
<header class="masthead subhead">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        {{> btn-tweet }}
        <h1>
          <span class="text-muted">{{section.title}} /&nbsp;</span>
          {{default this.title (current "key")}}
        </h1>
      </div>
    </div>
  </div>
</header>
