<ul class="nav">
{{#collection "categories" sortBy="data.sortBy"}}
  <li><span{{#is ../category this.category}} class="active"{{/is}}>{{> sidenav-section-header-link }}</span>
    <ul class="nav nav-pills nav-stacked {{#is ../category this.category}} active{{/is}}">
    {{#each items}}{{#isnt this.data.draft true}}{{#ends-with ../key "index"}}{{else}}
      {{> sidenav-link ..}}
    {{/ends-with}}{{/isnt}}{{/each}}
    </ul>
  </li>
{{/collection}}
</ul>
