<span class="nav-section-title">
  Boilerplates
</span>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="boilerplate-site.html">Site</a> </li>
  <li> <a href="boilerplate-blog.html">Blog</a> </li>
  <li> <a href="boilerplate-bootstrap.html">Bootstrap</a> </li>
</ul>