<ul class="nav nav-pills nav-stacked">
  <li> <a href="./">Overview</a> </li>
</ul>

{{!TODO: add sections for swig filters and lodash mixins }}

{{! <ul class="nav nav-pills nav-stacked"> }}
  {{!#each pages}}
    {{!#is data.area "helpers"}}
      {{!> sidenav-link }}
    {{!/is}}
  {{!/each}}
{{! </ul> }}

<span class="nav-section-title">
  Special Helpers
</span>

<ul class="nav nav-pills nav-stacked">
  <li> <a href="helper-compose.html">Compose</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helper-aggregate.html">Aggregate</a> </li>
</ul>

<span class="nav-section-title">
  Categories
</span>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-code.html">Code</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-collections.html">Collections</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-comparison.html">Comparison</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-content.html">Content</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-data.html">Data</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-dates.html">Dates</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-html.html">HTML</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-inflections.html">Inflections</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-logging.html">Logging</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-markdown.html">Markdown</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-math.html">Math</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-misc.html">Miscellaneous</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-numbers.html">Numbers</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-path.html">Path</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-readme.html">Readme</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-strings.html">Strings</a> </li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li> <a href="helpers-url.html">URL</a> </li>
</ul>
