{{#collection "categories"}}
<span class="nav-section-title">{{inflection}} <span class="badge">{{items.length}}</span></span>
<ul class="nav nav-pills nav-stacked">
  {{#each items}}
    {{#is this.data.draft true}}{{else}}
    {{> sidenav-link ..}}
    {{/is}}
  {{/each}}
</ul>
{{/collection}}
