{{!#prettify}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#isnt title "Home"}} style="background: white;"{{/isnt}} data-spy="scroll" data-target=".bs-sidebar">


    {{!-- global navigation
    =================================== --}}
    {{> navbar }}


    {{!-- masthead
    =================================== --}}
    {{> masthead}}

    {{!-- content
    =================================== --}}
    {% body %}


    {{!-- footer scripts
    =================================== --}}
    {{> javascripts }}
    <script>
      $().showUp('.navbar');
    </script>
  </body>
</html>
{{!/prettify}}
