<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script>
    window.location.replace('{{to}}');
    </script>
  </head>
  <body>
    {% body %}
  </body>
</html>

