*.DS_Store
*.sublime-*
_gh_pages
bower_components
node_modules
npm-debug.log
actual
test/actual
test/_spec
temp
tmp
TODO.md
vendor
.idea
benchmark
coverage
examples/_draft
examples/*/dist
examples/*/site
