<a class="pull-right" data-toggle="popover" data-placement="top" href="{{@root.docs.content}}/{{#is this.category "docs"}}{{else}}{{../category}}/{{/is}}{{current "basename"}}" title="Edit this page on GitHub → ">Edit this page</a>
