---
links:
  - index.html
  - page2.html
  - page3.html
  - markdown.html
---

<!doctype html>
<html>
  <head>
    <title>{{page.title}}</title>
  </head>
  <body>
    {{> nav }}
    {{> body }}
  </body>
</html>
