---
title: Welcome to Assemble!
layout: base
masthead: false
---
    <header class="jumbotron masthead">
      <div class="container">
        <div class="row">
          <div class="col col-lg-6">
            <h1>BUILD SOMETHING</h1>
            <p class="lead">{{site.lead}}</p>
            <p>
              <a class="btn btn-inverse" href="https://github.com/assemble/assemble/archive/master.zip">Download Assemble</a>
            </p>
          </div>
          <div class="col col-lg-6">

            <!--<blockquote class="twitter-tweet">
          <p><a href="https://twitter.com/_mattbailey">@_mattbailey</a>  no problem! That Assemble module has just completely changed my life . Thanks! <a href="https://twitter.com/search?q=%23webdev&amp;src=hash">#webdev</a>  <a href="https://twitter.com/search?q=%23nodejs&amp;src=hash">#nodejs</a>  <a href="https://twitter.com/search?q=%23frontend&amp;src=hash">#frontend</a>
          <a href="https://twitter.com/search?q=%23development&amp;src=hash">#development</a> </p>&mdash; Przemyslaw Bobak (@bobek_balinek) <a href="https://twitter.com/bobek_balinek/statuses/346937578773172224">June 18, 2013</a>
        </blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
          </div>
        </div>
      </div>
    </header>
    <style type="text/css" media="screen">
      .teaser iframe {
        margin: -7px 0 0 25px;
        vertical-align: text-top;
      }
      .teaser iframe + iframe {
        margin-left: -20px;
      }
    </style>

    <div class="container">
      <div class="search">
        <div class="search-content">
          <form>
            <input type="search" id="search" class="form-control" placeholder="Search documentation...">
          </form>
        </div>
      </div>
    </div>

    <div class="teaser ">
      <a class="teaser-content" href="">
        Assemble
        <em> {{site.description}} </em>
        <iframe src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
      </a>
    </div>

    <div class="container">
      <section class="gallery">
        <div class="row">
          <style>
            iframe.small {
              float: left;
            }
          </style>

          <!-- GitHub repos -->
          <ol class="repos">
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/assemble">
                    <h2>assemble</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Static site generator for Grunt.js, Yeoman and Node.js. &quot;npm install assemble&quot;. Used by H5BP, Topcoat, and hundreds of other projects to build sites, themes, components, documentation, blogs and gh-pages.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/assemble-less">
                    <h2>assemble-less</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble-less&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble-less&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Grunt task for compiling LESS to CSS.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/handlebars-helpers">
                    <h2>handlebars-helpers</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=handlebars-helpers&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=handlebars-helpers&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Library of 100+ handlebars helpers. This project is active and supported, we love contributors and appreciate stars.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card css">
                  <a href="https://github.com/assemble/boilerplates">
                    <h2>boilerplates</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=boilerplates&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=boilerplates&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>CSS</h3>
                    <p>A bunch of example projects to help you learn how to use Assemble.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/boilerplate-site">
                    <h2>boilerplate-site</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=boilerplate-site&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=boilerplate-site&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Demonstrates how to use Assemble to build a site. Includes layouts, pages, partials, and markdown content.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/grunt-init-assemble">
                    <h2>grunt-init-assemble</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-init-assemble&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-init-assemble&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Grunt init template for Assemble, the static site generator built on Grunt.js. Kickstart new Assemble projects in just a few seconds, including templates, data, layouts, and a theme.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/generator-assemble">
                    <h2>generator-assemble</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=generator-assemble&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=generator-assemble&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Yeoman generator for Assemble, the static site generator built on Grunt.js. Kickstart new Assemble projects in just a few seconds, including templates, data, layouts, and a theme.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/grunt-github-api">
                    <h2>grunt-github-api</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-github-api&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-github-api&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Grunt plugin used to query the Github API and save the returned JSON files locally.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
            </div>
            <div class="col col-lg-4">
            </div>
            <div class="col col-lg-4">
            </div>
            <div class="col col-lg-4">
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/grunt-convert">
                    <h2>grunt-convert</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-convert&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-convert&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Grunt task to convert to or from JSON, YAML, XML, PLIST or CSV.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/grunt-firebase">
                    <h2>grunt-firebase</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-firebase&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-firebase&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Grunt task for updating firebase data.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/boilerplate-bootstrap">
                    <h2>boilerplate-bootstrap</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=boilerplate-bootstrap&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=boilerplate-bootstrap&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Build Bootstrap with Assemble instead of Jekyll.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
            </div>
            <div class="col col-lg-4">
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card css">
                  <a href="https://github.com/assemble/buttons">
                    <h2>buttons</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=buttons&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=buttons&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>CSS</h3>
                    <p>Sooo many buttons... is this really necessary?! In reality this project has little to do with buttons. It&#x27;s an exercise in separation of concerns regarding structure, style, content and data.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/grunt-readme">
                    <h2>grunt-readme</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-readme&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=grunt-readme&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Generate your README from a template. Fast, very little config, and if you already use Grunt it&#x27;s a no-brainer.</p>
                  </a>
                </div>
              </li>
            </div>
            <div class="col col-lg-4">
              <li class="repo">
                <div class="card javascript">
                  <a href="https://github.com/assemble/permalinks">
                    <h2>permalinks</h2>

                    <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=permalinks&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=permalinks&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
                    <h3>JavaScript</h3>
                    <p>Permalinks plugin for Assemble, the static site generator for Grunt.js and Yeoman. This plugin enables powerful and configurable URI replacement patterns, presets, uses Moment.js for parsing dates, and much more.</p>
                  </a>
                </div>
              </li>
            </div>
          </ol>
        </div>
      </section>
    </div>

    <div class="banner">
      <div class="container">
        <p>
          <a href="{{link-to 'getting-started' 'docs'}}">Get Started with Assemble</a>
        </p>
      </div>
    </div>

