---
page:
  title: Example Grid
---
      <div class="page-header">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ grid.container.description }}</p>
      </div>

      <!-- Grid
      ==================================================== -->
      {{#grid.container}}
      <div class="bs-docs-grid">{{#rows}}
        <div class="row show-grid">{{#columns}}
          <div class="span{{width}}"> {{content}} </div>
          {{/columns}}</div>
        {{/rows}}</div>
      {{/grid.container}}



