//
// BANNERS
// --------------------------------

// Variables
@bannerHeight:            44px;



// BASE
.banner {
  color: @grayDark;
  line-height: 1;
  padding: 11px;
  background-color: lighten(@yellow, 35%);
  border-bottom: 1px solid #EEE0B0;
  z-index: @zindexFixedNavbar;
}

// Adjust close link position
.banner .close {
  float: right;
  position: relative;
  top: 0; // Modified
  right: 0;
  font-size: 26px;
  color: rgba(255,255,255,.6);
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  line-height: @baseLineHeight;
  .opacity(100);
  &:hover {
    color: rgba(255,255,255,.9);
  }
}
// Add padding to body and show banner
body.banner-padding {
  padding-top: 90px;
}


// Alternate styles
// ----------------
.system-banner {
  color: @white;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  // background-color: @themeSpinColor;
  background-color: @gray;
  // border-color:  darken(@themeSpinColor, 10%);
  border-color: @grayDark;
}
.banner-welcome {
  background-color: lighten(@yellow, 35%);
}
.banner-warning {
  background-color: @warningBackground;
  border-color:  @warningBorder;
}
.banner-success {
  background-color: @successBackground;
  border-color: @successBorder;
}
.banner-danger,
.banner-error {
  background-color: @errorBackground;
  border-color: @errorBorder;
}
.banner-info {
  background-color: @infoBackground;
  border-color: @infoBorder;
}
.banner-inverse {
  color: @white;
  background-color: @gray;
  border-color: @grayDark;
}


// Fixed banners
// ------------------------------

// Top/bottom) styles
.banner-fixed-top,
.banner-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 14px;
  padding-left:  10px;
  padding-right: 10px;
  z-index: @zindexFixedNavbar - 10;
  // .box-shadow(inset 0 -2px 11px rgba(0,0,0,.2));
}
// Fixed to top
.banner-fixed-top {
  top: 0;
}
// Fixed to bottom
.banner-fixed-bottom {
  bottom: 0;
}

// Move navbar down if another banner is present
.banner + .banner,
.banner ~ .navbar-fixed-top,
.banner ~ .navbar-fixed-top ~ .jumbotron { 
  margin-top: (@bannerHeight + 3px);
}
.banner + .banner + .banner,
.banner + .banner ~ .navbar-fixed-top { 
  margin-top: ((@bannerHeight + 3px) * 2);
}
.banner + .hero-unit {
  margin-top: (@bannerHeight / 2); // add just a little space above hero-unit when banner is present
}


// Components
// ------------------------------
// Main message
.banner .banner-message {
  line-height: @baseLineHeight;
  [class^="icon-"], 
  [class*=" icon-"] {
    margin-top: 1px;
    margin-right: 5px;
  }
}
// Buttons
.banner-btn {
  font-weight: bold;
  margin-top: -3px;
  margin-left: @baseLineHeight;
}
// Adjust link position
.banner .banner-link {
  top: 0; 
  right: 0;
  color: @white;
  color: lighten(@themePrimaryColor, 20%); // #A8FDFA
  font-weight: bold;
  text-decoration: underline;
  text-shadow: none;
  position: relative;
  line-height: @baseLineHeight;
  &:hover {
    color: lighten(@themePrimaryColor, 40%); // #A8FDFA
  }
}
// Use pseudo-elements to add data to banner messages
.banner .banner-data:before {
  content: attr(data-username) attr(data-record-type) attr(data-org-name);
  display: inline-block;
  font-weight: bold;
}

