//
// Effects Mixins
// --------------------------------------------------


// Panel Variables
@effectBackgroundLight:        #fbfcfd;
@effectBackground:             #fbfcfd;

// Inverse
@effectBackgroundInverse:      @inverseBackground;





// Inverse (appears as a dark background)
.inverse() {
  color: @inverseTextColor;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  background: @inverseBackground;
  border-color: @black;
  .box-shadow(inset 0 2px 4px rgba(0,0,0,.6), 0 1px 0 @white);
}

// Inset appearance
.inset() {
  #gradient > .vertical(#fff, #f2f2f2);
  border: 1px solid #ccc;
  .box-shadow(inset 0 2px 4px rgba(0,0,0,.4));
}


// Transparent Well
// ------------------------
.aero() {
  #gradient > .vertical(fade(@white, 1), fade(@white, 1);
}


// Attention
// ------------------------------------
.attention() {
  border: 1px solid #c8c8c8;
  #gradient > .vertical-three-stops(rgba(255,255,255,1), 0%, rgba(255,255,255,1), 20%, rgba(241,242,243,1), 100%);
}


// Embossed
// ------------------------------------
// a printing technique used to create raised surfaces in the converted paper stock
.embossed() {
  .box-shadow(inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1));
}
.embossed-v2() {
  .box-shadow(0 1px 0 rgba(0,0,0,.5),0 2px 0 rgba(0,0,0,.1), 0 -1px 0 @white); 
}
.embossed-v3() {
  .box-shadow(-1px -1px 0 @white, 1px 1px @grayLight);
}
// Embossed inverse
.embossed-inverse() {
  .box-shadow(0 1px rgba(0,0,0,.8), 0 2px rgba(0,0,0,.2), inset -1px -1px rgba(255, 255, 255, 0.1), inset 1px 1px rgba(255, 255, 255, 0.1)); 
}


// Radial
// ------------------------------------

.radial() {
  background-color: #fbfcfd;
  border: 1px solid darken(@tileBackground, 15%);
  .border-radius(4px);
  .box-shadow(inset 0 0 0 1px white, inset 0 0 20px rgba(0,0,0,.1));
}



// Highlighted
// ------------------------------------

.highlight() {
  #gradient > .vertical(#f9f9f9, #f0f0f0);
  border-top: 1px solid #f2f2f2;
  .box-shadow(0 1px 3px rgba(0,0,0,.15), inset 0 2px 1px rgba(255,255,255,.97));

  // Hover state
  &:hover {
    #gradient > .vertical(#f9f9f9, #e0e0e0);
    &:before {
      .box-shadow(0 4px 5px rgba(0,0,0,.4));
    }
  }

  // Drop Shadow
  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    *zoom: 1;
    .border-radius(250px ~"/" 20px);
    .box-shadow(0 5px 5px rgba(0,0,0,.35));
  }
}



// Extruded
// ------------------------------------

.extrudeMixin(@extrudeColor: @grayLightest) {
  .box-shadow(1px 1px darken(@extrudeColor, 20%), 2px 2px darken(@extrudeColor, 23%), 3px 3px darken(@extrudeColor, 26%), 4px 4px darken(@extrudeColor, 29%), 5px 5px darken(@extrudeColor, 32%); }
.extrudeMixinInverse(@extrudeColor: @grayLightest) {
  .box-shadow(1px 1px darken(@extrudeColor, 10%), 2px 2px darken(@extrudeColor, 12%), 3px 3px darken(@extrudeColor, 15%), 4px 4px darken(@extrudeColor, 20%), 5px 5px darken(@extrudeColor, 25%), inset -2px -2px rgba(255,255,255,.03); border-right-color: darken(@extrudeColor, 15%); border-bottom-color: darken(@extrudeColor, 15%); 
}



// Raised Panel
// ------------------------------------

.raised() {
  .box-shadow(rgba(0,0,0,.3) 0 1px 3px);
}



// LETTERPRESSED
// -------------
// A printing method that requires characters being impressed upon the page

.letterpress() {
  color: darken(@grayLighter, 15%);
  .box-shadow(-1px -1px -1px rgba(0,0,0,.5));
}
.letterpress-medium() {
  color: @gray;
  .box-shadow(1px 1px 1px rgba(255,255,255,.75));
}


// THERMOGRAPHED
// -------------
// A raised print surface similar to the result of an embossing process

.thermograph() {
  color: rgba(0,0,0,.1); // transparency on to allow background to come through. results in a "rounder" appearance than embossed text
  .box-shadow(-1px -1px 2px rgba(255,255,255,.6), 1px 1px 1px rgba(0,0,0,.6));
}


// Glowing
.glow() {
  color: @bodyBackground;
  .box-shadow(0 0 0.5em lighten(@linkColor, 20%), 0 0 0.3em lighten(@linkColor, 30%));
}

// ENGRAVED
// --------
// A process that requires a design to be cut into a plate made of a relatively hard material
.engraved() {}


.etched() {}
.beveled() {}


// Spotlight
.spotlight() {
  text-align: center;
  background: #f0f1f2;
  border-color: #d7d8d9;
  .border-radius(6px);
  .box-shadow(~"0 1px 0 white, 1px 2px 5px rgba(0,0,0,.06) inset, 0 0 7px rgba(0,0,0,.05) inset");
  .box-sizing(border-box);
  &:hover {
    #gradient > .radial-three-colors(50%, 30%, @white, #fafbfc, #ebeced);
    border-bottom-color: #ddd;
    .box-shadow(~"inset 0 1px 0 rgba(255, 255, 255, 0.7), inset 0 0 4px rgba(0,0,0,.05)");
  }
}
// Showcase
.showcase() {
  text-align: center;
  border-color: #d7d8d9;
  background: @grayLightest;
  .border-radius(4px);
  .box-shadow(inset 0 1px 3px rgba(0,0,0,.3));
  .box-sizing(border-box);
  &:hover,
  &.active {
    #gradient > .vertical(@white, #e9e9e9); // active state is useful when using showcase wells for tabbed content or sliders
  } 
}

