---
title: md helper
description: Use \{{md}} helper to pull in markdown
---

<div class="page-header">
  <h1>{{title}}</h1>
  <p class="lead">{{description}}</p>
</div>

<p> {{{md './test/fixtures/pages/md.md'}}} </p>



