---
page:
  title: Markdown
  subtitle: Much more than just designs.
  breadcrumbs-enabled: false
  page-content-title: Markdown Test
---

    {{> navbar-fixed-top }}

    <!-- Page
    ================================================== -->
    <div class="page container">
      <div class="panel">



         <header class="page-header">
          {{#if site.vendors.enabled}}<a class="btn header-button btn-inverse" href="./start-selling.html">Sell themes</a>{{/if}}
          <h1 class="page-title">{{page.title}}.</h1>
          {{#if page.subtitle}}<h2 class="page-subtitle">{{ page.subtitle }}</h2>{{/if}}


          {{! typeahead with example data }}
          {{#if site.search.enabled}}
          <div class="input-group pull-right">
            <input type="text" class="" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Alabama&quot;,&quot;Alaska&quot;,&quot;Arizona&quot;,&quot;Arkansas&quot;,&quot;California&quot;,&quot;Colorado&quot;,&quot;Connecticut&quot;,&quot;Delaware&quot;,&quot;Florida&quot;,&quot;Georgia&quot;,&quot;Hawaii&quot;,&quot;Idaho&quot;,&quot;Illinois&quot;,&quot;Indiana&quot;,&quot;Iowa&quot;,&quot;Kansas&quot;,&quot;Kentucky&quot;,&quot;Louisiana&quot;,&quot;Maine&quot;,&quot;Maryland&quot;,&quot;Massachusetts&quot;,&quot;Michigan&quot;,&quot;Minnesota&quot;,&quot;Mississippi&quot;,&quot;Missouri&quot;,&quot;Montana&quot;,&quot;Nebraska&quot;,&quot;Nevada&quot;,&quot;New Hampshire&quot;,&quot;New Jersey&quot;,&quot;New Mexico&quot;,&quot;New York&quot;,&quot;North Dakota&quot;,&quot;North Carolina&quot;,&quot;Ohio&quot;,&quot;Oklahoma&quot;,&quot;Oregon&quot;,&quot;Pennsylvania&quot;,&quot;Rhode Island&quot;,&quot;South Carolina&quot;,&quot;South Dakota&quot;,&quot;Tennessee&quot;,&quot;Texas&quot;,&quot;Utah&quot;,&quot;Vermont&quot;,&quot;Virginia&quot;,&quot;Washington&quot;,&quot;West Virginia&quot;,&quot;Wisconsin&quot;,&quot;Wyoming&quot;]">
            <div class="input-group-btn btn-group">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Search&nbsp; <span class="caret"></span></button>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Admin &amp; Dashboard</a></li>
                <li><a href="#">Business &amp; Corporate</a></li>
                <li><a href="#">Portfolios &amp; Galleries</a></li>
                <li><a href="#">Landing Pages</a></li>
                <li><a href="#">Resumes</a></li>
                <li><a href="#">E-Commerce</a></li>
                <li><a href="#">Blogs &amp; Magazines</a></li>
              </ul>
            </div> <!-- /btn-group -->
          </div> {{/if}} {{! /typeahead }}
        </header> <!-- /header -->


        <!-- Page Content
        ================================================== -->
        <div class="page-content">

          <p>Add some markdown file here</p>

          <p>
            {{{md './test/markdown/markdown-test.md'}}}
          </p>

        </div><!-- /page-content -->


      </div><!-- /panel -->
    </div><!-- /page.container -->

