<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    {% body %}

{{#markdown}}
{{#if related.list}}{{> related related.list}}{{/if}}
{{/markdown}}

  </body>
</html>

