<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    {% body %}


{{#if related}}
## Related topics
{{#each related}}
- {{toReflink related.title related.url}}
{{/each}}
{{/if}}

  </body>
</html>

