---
layout: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{site.title}}</title>
    <link href="http://libs.github.io/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta name="author" content="{{site.author}}">
  </head>
  <body>
  	{{#each pages}}
    	{{#unless_eq ../filename compare=filename}}
    		<div>{{../data.title}}</div>
    		<div>
    			{{#each ../data.gists}}
    			{{gist this}}
    			{{/each}}
    		</div>
    	{{/unless_eq}}
  	{{/each}}
    <script src="http://libs.github.io/bootstrap/css/bootstrap.min.js"></script>
  </body>
</html>