---
title: My Blog
layout: default
---

<h1>Welcome to {{title}}!</h1>

<h2>Read some posts:</h2>
{{#posts}}
  {{#each items}}
<a href="{{link-to key "posts"}}">{{data.title}}</a>
  {{/each}}
{{/posts}}
