---
page:
  title: Bootstrap Grid Demo
  links:
    -
      href: https://github.com/assemble/assemble
      text: Assemble
    -
      href: https://github.com/assemble/toolkit
      text: Toolkit
---

{{#grid.container}}
<div class="container">

  {{#rows}}
  <div class="row">

    {{#spans}}
    <div class="span{{columns}}">

      {{#content}}

        {{#if html}}{{{html}}}{{/if}}
        {{#if md}}{{{md md}}}{{/if}}
        {{#if markdown}}
          {{#markdown}}
            {{this.markdown}}
          {{/markdown}}
        {{/if}}

      {{/content}}

    </div>
    {{/spans}}

  </div>
  {{/rows}}

</div>
{{/grid.container}}
