<style type="text/css" media="screen">
  #custom-tweet-button > a {
    float: right;
    display: inline-block;
    padding: 8px 16px 8px 36px;
    margin: 15px 0 0 0;
    background: url('https://twitter.com/favicons/favicon.ico') 15px center no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 4px;
  }
  #custom-tweet-button > a:hover {
    background-color: rgba(255,255,255,.07);
  }
</style>
<div id="custom-tweet-button">
  <a href="https://twitter.com/intent/tweet?screen_name=assemblejs" data-related="jonschlinkert:Jon Schlinkert,doowb:Brian Woodward" data-lang="en" target="_blank">&nbsp;&nbsp;Tweet</a>
  <script>
    ! function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "twitter-wjs");
  </script>
</div>
