{{! Footer
================================================== }}
<footer class="bs-footer">
  <div class="more-info">
    <div class="container">
      {{> btn-social }}
    </div>
  </div>

  <p>Website design by <a href="http://twitter.com/jonschlinkert" target="_blank">@jonschlinkert</a>. Assemble built by <a href="http://twitter.com/jonschlinkert" target="_blank">@jonschlinkert</a> and <a href="http://twitter.com/doowb" target="_blank">@doowb</a>.</p>
  <p>Code licensed under <a href="https://github.com/assemble/assemble/LICENSE-MIT" target="_blank">MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
  <ul class="footer-links">
    <li><a href="http://assemble.io/blog">Blog</a></li>
    <li class="muted">&middot;</li>
    <li><a href="https://github.com/assemble/assemble/issues?state=open">Issues</a></li>
    <li class="muted">&middot;</li>
    <li><a href="https://github.com/assemble/assemble/">Repo</a></li>
  </ul>
</footer>