<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- load google fonts -->
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Droid+Sans::latin', 'Droid+Serif:400,700', 'PT+Sans+Narrow::latin', 'Francois+One::latin', 'Open+Sans:400,300:latin', 'Oswald:400,300:latin', 'Yanone+Kaffeesatz:400,200,300:latin', 'Cuprum::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); 
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page}} &middot; Assemble, by Sellside</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HTML/CSS, LESS and JavaScript components for quickly building front-end projects.">
    <meta name="author" content="Brian Woodward, Jon Schlinkert">


    <!-- styles -->
    <link href="assets/css/project.css" rel="stylesheet">
    <link href="assets/js/prettify/prettify.css" rel="stylesheet">

    <style type="text/css">

    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body>