<!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    {{> body }}{{{include "stylesheets"}}}
  </head>
  <body>
  {{{include "body"}}}{{{include "scripts"}}}
  </body>
</html>
