<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{#if title}}{{title}}{{else}}YAML Test{{/if}} - Layout 2</title>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  </head>
  <body style="padding-top: 60px;">
    <div class="container">
      {{> body }}
    </div>
  </body>
</html>
