---
layout: two.hbs
---
{{> nav }}
<p>layout three</p>
<p>This is some random content before the body of the actual page.</p>

{{> body }}

<p>This is some random content after the body of the actual page.</p>
<p>layout three</p>
