---
layout: one.hbs
---
<p>layout two</p>
<p>This is some random content before the body of the actual page.</p>

{{> body }}

<p>This is some random content after the body of the actual page.</p>
<p>layout two</p>
