    <!-- Navbar
    ================================================== -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{#links}}<li class=""><a href="{{.}}">{{.}}</a></li>
              {{/links}}
            </ul>
          </div>{{! /nav-collapse }}
        </div>
      </div>
    </div>
