.docs-example {
  position: relative;
  min-height: 20px;
  padding: 19px;
  margin: 10px 0;
  border-radius: 6px;
}
.docs-example:before {
  content: attr(data-example-text);
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 1px 7px;
  font-size: 12px;
  font-weight: normal;
  background-color: #555555;
  border: 1px solid #484848;
  color: #eee;
  text-shadow: none;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.docs-example:after {
  content: attr(data-example-description);
  position: absolute;
  top: 28px;
  left: 10px;
  padding: 1px 7px;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.docs-example:hover:after {
  color: #000000;
}
.highlight:hover .hide-on-hover {
  opacity: 0;
  filter: alpha(opacity=0);
}
.docs-well .page-header {
  margin: 0;
}
