---
foo: bar
---

This example shows that the properties from "example.json" and "example.hbs" are on the page object.

<div>{{page.foo}}</div>
<div>{{page.content}}</div>


<div>{{foo}}</div>
<div>{{content}}</div>
