<!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    







  <link rel="stylesheet" href="/css/index.css"/>

  </head>
  <body>
  
  test. let the magic begin

<script>
  document.write('foo bar!');
</script>

  </body>
</html>
