<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>YAML Test</title>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  </head>
  <body style="padding-top: 60px;">

    <div class="container">
      <div class="categories">
        <h2>Categories</h2>
        <ul>
        
        </ul>
      </div>
      
<div class="page-header">
  <h4></h4> 
</div>


<!-- Customer Information
============================================ -->
<div class="customer-information">
  <h4 style="background: #eee; display: block">Customer Information</h4>
  <dl class="dl-horizontal">
    <dt>Receipt:</dt>
    <dd>Oz-Ware Purchase Invoice</dd>

    <dt>Date:</dt>
    <dd>2007-08-05</dd>

    <dt>First Name:</dt>
    <dd>Dorothy</dd>

    <dt>Last Name:</dt>
    <dd>Gale</dd>
  </dl>
</div>

<hr>

<!-- Order Information
============================================ -->
<div class="customer-information">
  <h4 style="background: #eee; display: block">Order Information</h4>
  <dl class="dl-horizontal">
    <dt>Items:</dt>
    
    <dd>
      <strong class="muted" style="border-bottom: 1px solid #ddd; display: block">Item #0</strong>
      <dl class="dl-horizontal">
        <dt>Part No: </dt>
        <dd> A4786 </dd>
        <dt>Description: </dt>
        <dd> Water Bucket (Filled) </dd>
        <dt>Price: </dt>
        <dd> $1.47 </dd>
        <dt>Qty: </dt> 
        <dd> 4 </dd>
      </dl>
    </dd>
    
    <dd>
      <strong class="muted" style="border-bottom: 1px solid #ddd; display: block">Item #1</strong>
      <dl class="dl-horizontal">
        <dt>Part No: </dt>
        <dd> E1628 </dd>
        <dt>Description: </dt>
        <dd> High Heeled &quot;Ruby&quot; Slippers </dd>
        <dt>Price: </dt>
        <dd> $100.27 </dd>
        <dt>Qty: </dt> 
        <dd> 1 </dd>
      </dl>
    </dd>
    
  </dl>
</div>
<hr>

<!-- Bill To
============================================ -->
<div class="bill-to">
  <h4 style="background: #eee; display: block">Address Information</h4>
  <strong>Bill To:</strong>
  <dl class="dl-horizontal">
    <dt>Billing Street: </dt>
    <dd> 123 Tornado Alley
Suite 16
 </dd>
    <dt>Billing City: </dt>
    <dd> East Centerville </dd>
    <dt>Billing State: </dt>
    <dd> KS </dd>
  </dl>
  <strong>Ship To:</strong>
  <dl class="dl-horizontal">
    <dt>Shipping Street: </dt>
    <dd> 123 Tornado Alley
Suite 16
 </dd>
    <dt>Shipping City: </dt>
    <dd> East Centerville </dd>
    <dt>Shipping State: </dt>
    <dd> KS </dd>
    </dd>
  </dl>
</div>

<!-- Special Instructions
============================================ -->
<div class="special-instructions" style="margin-bottom: 120px;">
  <h4 style="background: #eee; display: block">Delivery Instructions</h4>
  <p>Follow the Yellow Brick Road to the Emerald City. Pay no attention to the man behind the curtain.
</p>
</div>

    </div>

    <div class="container" style="display: none">
      <h2>Content</h2>
      <ul>
        <li><a href="associative-arrays.html">associative-arrays</a></li>
        <li><a href="block-literals.html">block-literals</a></li>
        <li><a href="comments.html">comments</a></li>
        <li><a href="data-files.html">data-files</a></li>
        <li><a href="data-types.html">data-types</a></li>
        <li><a href="document.html">document</a></li>
        <li><a href="lists.html">lists</a></li>
        <li><a href="relational-trees.html">relational-trees</a></li>
        <li><a href="variables.html">variables</a></li>
        
      </ul>
    </div>

    <div class="container" style="display: none">
      <h2>Debug Info</h2>
      <pre class="json">
{ customer: { given: 'Dorothy', family: 'Gale' },
  pagename: 'document.html',
  basename: 'document',
  page: 
   { [Function]
     [length]: 2,
     [name]: '',
     [arguments]: null,
     [caller]: null,
     [prototype]: { [constructor]: [Circular] } },
  specialDelivery: 'Follow the Yellow Brick Road to the Emerald City. Pay no attention to the man behind the curtain.\n',
  'ship-to': 
   { street: '123 Tornado Alley\nSuite 16\n',
     city: 'East Centerville',
     state: 'KS' },
  pageName: 'document.html',
  dirname: 'test/actual/yfm',
  dest: 'test/actual/yfm/document.html',
  prettyDate: '<%= grunt.template.date(date, \'yyyy-mm-dd\') %>',
  filename: 'document.html',
  extname: '.html',
  assets: '../assets',
  data: 
   { customer: { given: 'Dorothy', family: 'Gale' },
     specialDelivery: 'Follow the Yellow Brick Road to the Emerald City. Pay no attention to the man behind the curtain.\n',
     'ship-to': 
      { street: '123 Tornado Alley\nSuite 16\n',
        city: 'East Centerville',
        state: 'KS' },
     prettyDate: '<%= grunt.template.date(date, \'yyyy-mm-dd\') %>',
     date: Sun Aug 05 2007 20:00:00 GMT-0400 (Eastern Daylight Time),
     items: 
      [ { part_no: 'A4786',
          descrip: 'Water Bucket (Filled)',
          price: 1.47,
          quantity: 4 },
        { part_no: 'E1628',
          descrip: 'High Heeled "Ruby" Slippers',
          size: 8,
          price: 100.27,
          quantity: 1 },
        [length]: 2 ],
     receipt: 'Oz-Ware Purchase Invoice',
     'bill-to': 
      { street: '123 Tornado Alley\nSuite 16\n',
        city: 'East Centerville',
        state: 'KS' } },
  date: Sun Aug 05 2007 20:00:00 GMT-0400 (Eastern Daylight Time),
  ext: '.html',
  src: 'test/templates/pages/yfm/document.hbs',
  items: 
   [ { part_no: 'A4786',
       descrip: 'Water Bucket (Filled)',
       price: 1.47,
       quantity: 4 },
     { part_no: 'E1628',
       descrip: 'High Heeled "Ruby" Slippers',
       size: 8,
       price: 100.27,
       quantity: 1 },
     [length]: 2 ],
  receipt: 'Oz-Ware Purchase Invoice',
  'bill-to': 
   { street: '123 Tornado Alley\nSuite 16\n',
     city: 'East Centerville',
     state: 'KS' } }
</pre>
    </div>

  </body>
</html>