<a class="pull-right" data-toggle="popover" data-placement="top" href="{{@root.docs.content}}/{{#isnt this.category "docs"}}{{../category}}/{{/isnt}}{{current "basename"}}" title="Edit this page on GitHub → ">Edit this page</a>
