<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{#links}}<li><a href="{{href}}">{{text}}</a></li>
              {{/links}}
            </ul>
          </div>{{! /nav-collapse }}
        </div>
      </div>
    </div>
