---
links:
  - index.html
  - page2.html
  - page3.html
  - markdown.html
  - grid.html
---
<!DOCTYPE html>
<html>
  <head>
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="{{assets}}/bootstrap.css">
  </head>
  <body>
    {{> navbar }}
    {{> body }}
  </body>
</html>
